
body *{

    margin: 0;
    box-sizing: border-box;
}

.media-content{

    background-size: cover;
    display: flex;
    height: 400px;
    background-color: #072441;
    color: white;
    flex-direction: column;

}

.text-content{

     margin: 10px 10px 10px 10px;
    padding-left: 20px;
}

.text-content h1 {

    font-size: 3rem;
}
.text-content p{

    font-size: 2rem;
}


.header-text-content{

    padding: 10px 20px 0px 10px;

}

.form-search{


    position: relative;
    margin-top: 20px;
    padding: 10px 20px 0px 10px;

}
.form-search input[type="text"]{

    display: inline-flex;
    width: 100%;
    height: 46px;
    border-radius: 30px;
    float: left;
    box-sizing: border-box;
    font-size: 1.1em;
    border: none;
    outline: none;
    padding: 10px 20px; 

}

.form-search button{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 46px;
    padding: 10px 25px;
    border: none;
    background: #17C5C4;
    border-radius: 30px;
    position: absolute;
    color: #ffff;
    outline: none;
    right: -1px;
}

.form-search  input[type="submit"], button {
    font-weight: 700;
}

.form-search button:hover{

    color:black;
}

.movies-content {
    display: flex;
    flex-direction: column;

}


.column-content-movies {

    display: flex;
    margin: 10px 10px 10px 10px;
    padding-left: 20px;
    max-width: 100%;
    overflow: auto;
}
.card-style-1{

    margin-left: 40px;
}
.card-style-1 h3{

    font-size: 1rem;
    font-weight: bolder;
}

.image{

    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 100%;

}

.image img{

    width: auto;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
}

.text-content-movies {

    text-align: center;

}


.footer{


    height: 150px;
    background-color: rgba(4, 37, 65);
    color: #ffff;

}
.flex-container{

    display: flex;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;

}
.content-footer{

    text-align: center;
    padding: 10px 20px 0px 10px;
    box-shadow: 0.4rem 0.4rem 0.4rem rgb(46 41 78 / 15%);
    border-radius: 5px;
}

.content-footer h2{


    font-size: 1rem;
}

.content-footer li {

    list-style: none;
    

}
.content-footer li a{

    color: white;
    

}

